:root {
    --default-margin: 10px;
    --bg: #f8f9fa;
}

body {
    background-image: url('./images/bg.jpg');
    background-size: cover;
}

h1 {
    color: white;
}

.loader {
    padding: 20px;
}

.container {
    padding: var(--default-margin);
}

.row {
    margin: var(--default-margin);
}

.modal-body button,
form button {
    margin-right: var(--default-margin);
}

.modal-body .form-row {
    margin: var(--default-margin) 0 0 0;
}

.validation-error {
    color: var(--danger);
    font-size: 0.8rem;
}

.alert-message {
    width: 100%;
}

.footer {
    color: white;
    display: flex;
    justify-content: center;
}