:root {
    --default-margin: 10px;
}

.loader {
    padding: 20px;
}

.container {
    padding: var(--default-margin);
}

.row {
    margin: var(--default-margin);
}

form button {
    margin-right: var(--default-margin);
}